---
name: A-SWISH-user-test-report
layout: post 
title: A SWISH user test report
date: 2013-04-19
categories:
- Demonstration of value
---

## A SWISH testimonial
Here is what a test user had to say about the EWEDB.

Steve McEachern is Deputy Director of the Australian Data Archive and
senior research fellow with the Australian Demographic and Social
Research Institute at the Australian National University.

The Scientific Workflow and Integration Software for Health (SWISH)
provides an enviable collection of research tools for the conduct of
heath and social science research. The starting point for SWISH is the
integrated data catalogue, which provides an ideal access point for
finding and exploring spatial data available through SWISH.

Once data are discovered, the researcher then has the capacity to readily
access the relevant spatial data through the SWISH Extreme Weather
Events database (EWEDB). The integration of the Postgres/PostGIS
database and Geoserver web service for visualisation, along with the
streamlined access to the spatial data through the Rstudio server
environment, enable the integration of geospatial data with other survey
and administrative data sources.

This integration capability allows us to easily bring together data
sources that have not previously been considered in common, due to the
level of knowledge required, covering multiple disciplines and research
methods. In the example presented here, we provide a simple analysis of
the distribution of drought across NSW in 2006, derived from Bureau of
Meteorology data, and the vote for the Liberal Party in the same
electorates in 2010, drawn from the Australian Electoral Commission
election results website. The correlation between the level of drought
in 2006 and voting behaviour in 2010 is then shown in the concluding figure.

The integration of the system with GitHub, the DDIIndex data catalogue
and the SWISH data registry system also enable the research to be fully
documented, published and then available for reanalysis, further
demonstrating the potential of the system for supporting reproducible
research. All of the analysis presented here is available through the
project GitHub repository.

While the analysis is exploratory only, the use of the SWISH system
shows the ease with which multiple data sources can be brought together,
and hence to be able to answer more complex research questions, and at
increasingly specific levels of geography. Using this system,
researchers might then consider the effects of weather patterns on
social phenomena, such as the relationship between seasonal weather
patterns and depression within local government areas, or extreme
weather events and social media use.
I look forward to using this system further in future.

    Dr. Steven McEachern
    Deputy Director
    Australian Data Archive
    Australian National University
    Ph. +61 2 6125 2200
    http://www.ada.edu.au
    28 September 2012
