<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EWE - {{ page.title }}</title>
    <meta name="author" content="Ivan Hanigan" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css">
    <link href="http://feeds.feedburner.com/Swish-climate-impact-assessment" rel="alternate" title="RSS" type="application/rss+xml" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.github_v2.js"></script>
  </head>

  <body>
    <div id="header" class="section">
      <div class="wrapper">
        <strong id="blog-title">
          <a href="/" rel="home">Extreme Weather Events</a>
        </strong>
        <p id="blog-description"></p>
        <div id="navigation">
          <ul class="nav clearfix">
            <li class="first-child"><a href="/documentation.html">Documentation</a></li>             
            <li> <a href="/blog.html">News</a></li>         
            <!-- <li><a href="/EWE.html">Catalogue</a></li>   -->
            <li><a href="/EWE.html">Data</a></li>  
            <li><a href="/analyses.html">Projects</a></li>
            <li>
              <a href="/tools.html">Tools</a>
            </li>
            <li>
              <a href="/about.html">About</a>
            </li>
            <!-- <li><a href="/funding.html">Access</a></li>   -->
            <!-- <li><a href="/funding.html">Wiki</a></li>   -->
            <!-- <li><a href="/funding.html">Funding</a></li>   -->
          </ul>
        </div>
      </div>
    </div>
    <div id="main" class="section">
      <div class="wrapper">
        <div id="content">
          {{ content }}
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://swish-ewedb.disqus.com/embed.js"> </script>
  <noscript>Please enable JavaScript to <a href="http://swish-ewedb.disqus.com/?url=ref">view the discussion thread.</a></noscript>
               
        </div>
        <div id="sidebar">
          <div id="carrington-subscribe" class="widget">
            <h2 class="widget-title">Subscribe</h2>
            <a class="feed alignright" title="RSS 2.0 feed for posts" rel="alternate" href="http://feeds.feedburner.com/Swish-climate-impact-assessment">
              <img src="/images/rss-button.gif" alt="latest posts" title="latest posts">
            </a>
          </div>
          <div id="carrington-about" class="widget">
            <div class="about">
              <h2 class="widget-title">About</h2>
              <p></p>
              <p>ACCESS THE DATA:</p>
              <a class="Apply for Access" href="mailto:ivan.hanigan@anu.edu.au">Apply for Access →</a>         
              <p></p>
              <a class="Dataset Catalogue" href="http://115.146.93.108:8181/ddiindex">Dataset Catalogue →</a> 
              <p></p>
              <a class="Dataset Registry" href="http://115.146.93.225:8080/apex/f?p=102">Dataset Registry →</a>
              <p></p>
              <a class="OpenGeo Suite" href="http://115.146.93.108:8181/dashboard">OpenGeo Suite →</a>
              <p></p>
              <a class="Read More" href="/EWE.html">Read More About Data →</a>     
              <p></p>
              <p></p>              
              <p>ANALYSE DATA:</p>
              <a class="Tutorials" href="/documentation.html">Tutorials →</a> 
              <p></p>
              <a class="SWISH Software tools" href="/tools.html">SWISH Software Tools →</a> 
              <p></p>
              <a class="Statistical Analysis Server" href="https://115.146.93.225">Statistical Analysis Server →</a> 
              <p></p>
              <a class="Source Code On Github" href="http://github.com/swish-climate-impact-assessment">Source Code On Github →</a> 
              <p></p>
              <a class="Read More" href="/EWE.html">Read More About Analyses →</a> 
              <p></p>
              <p></p>              
              <p>MORE INFO:</p>
              <a class="Overview" href="/about.html">Overview Of The Project →</a>
              <p></p>
            </div>
          </div>
          <!--
          	<p>
              <a href="http://ropensci.org/">
                <img src="/images/ropensci.png">
              </a>
        	</p>
			-->
			<!--
          <div id="carrington-link" class="widget">
          	<a href="http://ropensci.org/">
            <img src="/images/ropensci.png">
          </div>
          	-->
          
          <!-- <div id="primary-sidebar"> -->
          <!--   <div class="widget"> -->
          <!--     <h2 class="widget-title">Categories</h2> -->
          <!--     <ul> -->
          <!--       {% for category in site.categories %} -->
          <!--       <li><a href="/categories/{{category | first}}">{{category | first}} ({{category | last | size }})</a></li> -->
          <!--       {% endfor %} -->
          <!--     </ul> -->
          <!--   </div> -->
          <!-- </div> -->
          <!-- <div id="secondary-sidebar"> -->
            <div class="widget">
              <h2 class="widget-title">Recent Tutorials/News</h2>
              <ul>
                {% for post in site.posts limit:10 %}
                <li>
                  <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                </li>
                {% endfor %}
              </ul>
              <div class="clear"></div>
            </div>

            <!--
            <div class="widget">
              <h2 class="widget-title">Archives</h2>
              <ul>
                {% for monthly_archive in site.monthly_archives reversed %}
                <li>
                  <a href="{{ site.baseurl }}/{{ monthly_archive.url }}">{{ monthly_archive.name }}</a> ({{ monthly_archive.posts | size }} posts)
                </li>
                {% endfor %}
              </ul>
              <div class="clear"></div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="section">
      <div class="wrapper">
        <a id="generator-link">
          Proudly powered by
          <a href="https://github.com/mojombo/jekyll" rel="generator">Jekyll</a>
          and
          <a href="http://carringtontheme.com" title="Carrington theme for WordPress">Carrington</a>
      </div>
      <div id="developer-link">
      </div>
    </div>
    <!--
	<a href="http://github.com/SChamberlain"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=" alt="Fork me on GitHub"></a>

    <script type="text/javascript">
      var disqus_shortname = 'swish-ewedb';

      (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
      -->

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-28059658-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
